.blok1 {
	background-color:#63AB62;
	color:white;
}
.image {
	width:120px;
	height:150px;
	margin-top:5px;
	margin-bottom:4px;
	border:1px solid black;
}
h4{
	text-align:center;
	color:orange;
	font-family:Helvetica;
}    
.container  h4 {
	text-align:left;
}
/*.progress {
  background-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/
.bar {
    background-color: #006400;
	color:white;
} 
.baar {
	background-color: green;
	color:white;
}
.barr {
	background-color:#4DBD33;
	color:white;
}